* {
    box-sizing: border-box;
}

body {

    background-color: #0e1314 !important;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5em;
    letter-spacing: .04em;
    font-size: 14px;
    width: 100%!important;
    height: 100%!important;

}

.fat-nav{

    display: none!important;
}

@media only screen and (max-width: 600px){

    body{

    overflow: hidden!important;
    }

.fat-nav{

    display: block!important;
}
