* {
    box-sizing: border-box;
}

body {

    background-color: #0e1314 !important;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5em;
    letter-spacing: .04em;
    font-size: 14px;
}

.site-header{

    width: 100%!important;
    height: 44%!important;
    padding: 30px!important;

}

.logo{

    width: 200px!important;
    left:50px!important;
}

.social-icons{

    right: 50px!important;
    top:50px !important;
}



.menu-grid{

    width: 100%!important;


}

.body-grid{

    width: 90%!important;
    margin: 0 auto!important;
}

.small-column{

    width: 300px!important;
    height: 300px!important;
}

.big-column{
    width: 940px!important;
    height: 321px!important;
}

.same-column{
    width: 460px!important;
    height: 265px!important;
}

.hamburger {
    position: relative;
    height: 50px;
    width: 55px;
    margin: 100px auto;
    padding-top: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.hamburger--line {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    display: block;
    background-color: #EEE;
    transition-duration: 250ms;
    position: absolute;
}


.hamburger--line::before,
.hamburger--line::after{
    content: '';
    width: 100%;
    height: 10px;
    border-radius: 5px;
    display: block;
    background-color: #EEE;
    position: absolute;
    transition: 200ms;
}

.hamburger--line::before {
    top: -15px;
}

.hamburger--line::after {
    top: 15px;
}

.hamburger--line__x {
    transform: rotate(-45deg);
}

.hamburger--line__x::before,
.hamburger--line__x::after{
    transform: rotate(90deg);
    top: 0px;
}

.mobile-menu{

    display: none!important;
}

@media only screen and (max-width: 600px){


    body{

        overflow: hidden!important;
    }
    .social-icons{

        display: none!important;
    }

    .logo {

    display: none!important;

    }

    .mobile-menu{

    display: block!important;
        font-size: 20px!important;
}
}
