* {
    box-sizing: border-box;
}

body {

    background-color: #0e1314 !important;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5em;
    letter-spacing: .04em;
    font-size: 14px;
}

.site-header{

    width: 100%!important;
    height: 44%!important;
    padding: 30px!important;

}

.logo{

    width: 200px!important;
    left:50px!important;
}

.social-icons{

    right: 50px!important;
    top:50px !important;
}



.menu-grid{

    width: 100%!important;


}

.body-grid{

    width: 90%!important;
    margin: 0 auto!important;
}

.small-column{

    width: 300px!important;
    height: 300px!important;
}

.big-column{
    width: 940px!important;
    height: 321px!important;
}

.same-column{
    width: 460px!important;
    height: 265px!important;
}
